.user-photos-container {
  max-width: 800px; /* Giới hạn chiều rộng tối đa */
  margin: 0 auto; /* Canh giữa trang */
  padding: 20px; /* Khoảng cách phía trong */
  width: 800px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.photo-item {
  display: flex;
  flex-direction: column; /* Hiển thị dạng cột */
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.photo-item:hover {
  transform: translateY(-5px);
}

.img {
  width: 100%; /* Chiều rộng tự động điều chỉnh */
  max-width: 100%; /* Giới hạn chiều rộng tối đa */
  height: auto; /* Đảm bảo tỷ lệ khung hình đúng */
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photo-info {
  flex: 1;
}

.date-time-img,
.comment,
.no-comment {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.date-comment {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.img-src {
  font-size: 16px;
  color: #333;
}

.img-src-title {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.img-src-title:hover {
  color: #0056b3;
}
